* {
    box-sizing: border-box;
    margin: 0;
}
.changelog{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}
.changelog-container{
    width: 800px;
    height: max-content;
    position: relative;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.changelog-info p{
    color: rgb(133, 130, 130);
}
.changelog-row{
    position: absolute;
    height: 150px;
    width: 3px;
    background-color: black;
    top: 85px;
    right: 397px;
}
.changelog-details ul{
    list-style: none;
    padding: 0;
}
.changelog-details ul li{
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    gap: 10px;
}
.changelog-details-date{
    text-align: right;
    color: rgb(88, 88, 88);
}
.changelog-details-round{
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50px;
    margin: auto;
}
.changelog-details-text{
    text-align: left;
}
.cta-visit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-visit .visit{
    width: max-content;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.5ms ease;
}
.visit:hover{
    background-color: rgb(57, 57, 57);
    transform: translateY(-3px);
}